.search {
  display: flex;
  align-items: center;
  &__geo {
    margin-right: 24px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__city {
    display: block;
    margin-right: 24px;
    font-size: 24px;
    line-height: 37px;
    color: #fff;
  }
  &__tab-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
  }
  &__notify {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
  }
}
